<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalide File</title>
</head>
<body>
    <div class="row row-cols-1 justify-content-md-center">
        <div class="col col-md-10 offset-1">
            <p>
                <h2>Invalide json file content format.</h2>
                <h3>Make sure the content format is similar to the following format: </h3>
                <ul>
                    <li>
                        The file starts with "[" and ends with "]".
                    </li>
                    <li>
                        Content format be similar to the following:
                        <p>
                            [
                                {
                                    key:value,
                                    key:value,
                                    ...
                                },
                                {
                                    key:value,
                                    key:value,
                                    ...
                                },
                                ...
                            ]
                        </p>
                    </li>
                </ul>
            </p>
        </div>
    </div>
</body>
</html>